/* COMMON---------------------------------------------------------- */
body {
    background-color: #e1eee0;
	font-family: 'Spartan', sans-serif;
}

a.nav-link {
    color: black;
}



/* Header-------------------------------------------------------------- */
#home {
    width: 90%;
}

header {
    position: fixed;  
    background-color: #e1eee0;
    width: 100%;
    top: 0;
    z-index: 10000;
}

    
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34, 24, 28, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link {
    color: #22181c;
}

/* My Name -------------------------------------------------------------*/
.myName {
    background-image: url("../assets/myNameImg.jpeg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

.nameLocation {
    padding: 50px;
}

.myName p {
    font-size: 20px;
    color: rgb(12, 7, 90);
}

.myName h2 {
    font-family: 'DM Serif Display', serif;
	font-size: 30px;
    color: rgb(12, 7, 90);
    font-weight: bolder;
}

/* myPhoto -------------------------------------------------------- */

.myPhoto {
    background-image: url("../assets/image.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.photoName_location {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    padding: 30px;
    color: rgb(188, 62, 83);
}



/* about Me----------------------------------------------------- */
.aboutMe {
    background-color: antiquewhite;
    min-height: 400px;
}

.aboutMe h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
}

.textLocation {
    padding: 50px;
    color: rgb(12, 7, 90);
}

.fab {
    font-size: 30px;
}


/* Work ---------------------------------------------------- */
.work {
    margin: 80px 0;
}
.heading {
    display: flex;
    justify-content: center;
}
img {
    /* height: 300px; */
    width: 90%;
}

.work1 {
    margin-bottom: 56px;
}

.work h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    margin-bottom: 40px;
}
